@import '../../../assets/shared';

.items {
  @include flex-col(32px);
  padding: 20px 2vw;
}

.summary {
  @include flex-col(16px);
  padding: 20px 2vw;

  div {
    @include flex-row(null, center, space-between);
    font-weight: 600;
  }
}

.btn {
  padding: 20px 2vw;
}
