@import '../../assets/shared';

.header {
  margin-top: 52px;
  padding: 0 3vw;
}

.content {
  @include flex-col(32px);
  padding: 0 3vw;
  margin-bottom: 52px;
  font-size: 1.1rem;
  text-align: center;

  a {
    color: $clr-primary;
    font-weight: 700;
    transition: opacity 0.3s;

    &:hover, &:focus, &:active {
      opacity: 0.9;
    }
  }
}