@import '../../../assets/shared.module';

.empty {
  margin-top: 25vh;
}

.message {
  padding: 20px 2vw;
  font-weight: 600;
  font-size: 1.05rem;
  text-align: center;
}

.btn {
  padding: 20px 2vw;
}
