@import '../../assets/shared.module';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.5s;
  //backdrop-filter: blur(5px);
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  background: $clr-neutral-light;
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  backdrop-filter: blur(5px);

  label {
    display: none;
  }
}

.header {
  @include flex-row(null, center, space-between);
  padding: 20px 2vw;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.items {
  padding: 20px 2vw;
}

.item {
  @include flex-row(16px, center);

  img {
    width: 120px;
  }

  > div {
    @include flex-col(12px);
    width: 100%;
  }
}

.item__info {
  @include flex-col(4px);
  font-size: 0.9rem;
  color: #707070;
}

.item__name {
  @include flex-row(null, center, space-between);

  span {
    font-weight: 600;
    font-size: 1.05rem;
    color: $clr-neutral-dark;
  }
}

.item__price {
  @include flex-row(null, center, space-between);
  font-weight: 600;
  font-size: 1.05rem;

  > div {
    width: 100px;
  }
}

.summary {
  padding: 20px 2vw;
  @include flex-col(16px);

  div {
    @include flex-row(null, center, space-between);
    font-weight: 600;
  }
}

.btn {
  padding: 20px 2vw;
  button {
    width: 100%;
  }
}
