@import '../../assets/shared.module';

.cart {
  height: 100%;
  width: 0;
  background: $clr-neutral-light;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: width 0.5s;

  > div {
    width: 463px;
  }

  label {
    display: none;
  }
}

.header {
  @include flex-row(null, center, space-between);
  padding: 20px 2vw;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

  button:nth-child(3) {
    visibility: hidden;
  }
}
