@import '../../assets/shared.module';

.cart {
  height: 100%;
  width: 0;
  background: $clr-neutral-light;
  position: fixed;
  top: 0;
  right: 0;
  transition: width 0.5s;

  label {
    display: none;
  }
}

.header {
  @include flex-row(null, center, space-between);
  padding: 20px 2vw;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

  button:nth-child(3) {
    visibility: hidden;
  }
}

.items {
  padding: 20px 2vw;
}

.summary {
  @include flex-col(16px);
  padding: 20px 2vw;

  div {
    @include flex-row(null, center, space-between);
    font-weight: 600;
  }
}

.btn {
  padding: 20px 2vw;

  button {
    width: 100%;
  }
}
