// Variables
$clr-neutral-light: #ffffff;
$clr-neutral-dark: #272624;
$clr-primary: #d91d35;
$clr-secondary: #242036;
$clr-accent: #eed71c;
$clr-input: #dfdfdf;
$font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

// Mixins
@mixin flex-row($gap: null, $align: null, $justify: null) {
  display: flex;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-col($gap: null, $align: null, $justify: null) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin btn($background-color: null, $text-color: null) {
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  background: $background-color;
  color: $text-color;
  font-size: 1.1rem;
  font-weight: 700;
}
