header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 20px 3vw;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.logo {
  font-weight: 800;
  color: var(--accent-color);
  font-size: 1.8rem;
}

ul {
  display: flex;
  gap: 24px;
  font-weight: 600;
}

.user {
  display: flex;
  justify-self: end;
}

header label {
  display: none;
}

header form {
  display: flex;
  align-items: center;
}