@import './shared';

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 18px 3vw;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.logo {
  color: $clr-primary;
  font-weight: 800;
  font-size: 1.8rem;
}

header ul {
  @include flex-row(40px);
  font-weight: 500;
  font-size: 1.05rem;
}

.header__icons {
  @include flex-row(18px, center, flex-end);
}

header form {
  @include flex-row(null, center, flex-end);
  width: clamp(100px, 40%, 500px);
  padding: 4px;
  border: 1px solid $clr-input;
  border-radius: 4px;
  transition: border 0.3s;

  label {
    display: none;
  }

  button {
    background: $clr-neutral-light;
    border: none;
  }  
}

.search-form_focus {
  border-color: $clr-primary;
  box-shadow: 0 0 2px 0 $clr-primary;
}

input[type="search"] {
  width: 100%;
  font-size: 0.95rem;
  border: none;
  outline: none;
}

// Custom cancel button for type search input
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
  width: 9px;
  height: 9px;
  background:
    linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0) 43%, $clr-input 45%, $clr-input 55%, rgba(0,0,0,0) 57%, rgba(0,0,0,0) 100%),
    linear-gradient(135deg, transparent 0%, transparent 43%, $clr-input 45%, $clr-input 55%, transparent 57%, transparent 100%);
}

.header__icons i {
  color: $clr-primary;
  font-size: 1.2rem;

  &:hover, &:focus, &:active {
    opacity: 0.85;
  }
}

// Nav items hover
.hvr-underline {
  padding: 8px 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 2px;
    background: $clr-primary;
    transition: left 0.3s, right 0.3s;
  }

  &:hover::before, &:focus::before, &:active::before {
    left: 0;
    right: 0;
  }
}
