/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800&display=swap');

/* Variables */
:root {
  --primary-color: #f7f7f7;
  --accent-color: #d91d35;
  --text-color: #272624;
  --system-font-stack: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

/* General rules */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: 'Mulish', var(--system-font-stack);
}

h1, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}