.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 3vw;
  background: var(--accent-color);
  color: white;
}

.info-bar__socials {
  display: flex;
  gap: 16px;
}

.info-bar a {
  color: white;
}

.info-bar__shipping {
  display: flex;
  gap: 24px;
  font-size: 0.8rem;
}

.info-bar__shipping > strong {
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}
