@import './shared';

.info-bar {
  @include flex-row(null, center, space-between);
  padding: 12px 3vw;
  background: $clr-neutral-dark;
  color: $clr-neutral-light;

  a {
    color: $clr-neutral-light;
  }
}

.info-bar__socials {
  @include flex-row(16px);
}

.info-bar__info {
  @include flex-row(24px);
  font-size: 0.8rem;

  > strong {
    text-transform: uppercase;
  }
}

.hidden {
  visibility: hidden;
}

// Icons hover
.hvr-grow {
  transition: transform 0.3s;

  &:hover, &:focus, &:active {
    transform: scale(1.2);
  }
}
