@import '../../assets/shared';

.header {
  margin-top: 52px;
  padding: 0 3vw;
}

.cases {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 3vw;
  row-gap: 42px;
  margin-bottom: 52px;
}
