@import '../../assets/_shared.module.scss';

.link {
  text-decoration: none;
  color: $clr-neutral-dark;
}

.item {
  @include flex-col(null, center);
  text-align: center;
  cursor: pointer;

  img {
    width: 100%;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.collection {
  font-size: 0.95rem;
  font-weight: 600;
  color: #707070;
  margin-bottom: 6px;
}

.name {
  font-weight: 600;
  margin-bottom: 6px;
}

.price {
  font-size: 0.9rem;
}
