@import './shared';

.banner {
  height: 70vh;
  background-image: url(../assets/banner2.webp);
  background-position: center;
  background-size: cover;
  padding: 40px 8vw;
  @include flex-col(null, null, center);
}

.banner__content {
  color: $clr-neutral-light;
  grid-row: 2 / 3;
  @include flex-col(24px, flex-start);

  h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
}