@import './_shared.module.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800&display=swap');

// General rules
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: $clr-neutral-dark;
  font-family: 'Mulish', $font-family;
}

.hide-scroll {
  overflow: hidden;
  padding-right: 17px;
}

.App {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

h1, h2, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
