@import '../../assets/_shared.module.scss';

.about {
  @include flex-col(null, center);
}

.about__header {
  @include flex-col(40px, center, center);
  padding: 50px 3vw;
  height: 75vh;
  width: 100%;
  background: linear-gradient(to bottom, lighten($clr-primary, 8%) 0%, $clr-primary 100%);
  color: $clr-neutral-light;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  div {
    @include flex-col(12px);
  }

  strong {
    font-size: 1.4rem;
  }

  p {
    max-width: 60ch;
    font-size: 1.15rem;
    line-height: 2.2rem;
  }
}

.about__info {
  @include flex-col(30px, center);
  padding: 50px 3vw 0 3vw;

  h2 {
    font-size: 2rem;
  }

  p {
    max-width: 40ch;
    font-size: 1.15rem;
    text-align: center;
  }
}

.about__imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 3vw;
  margin: 50px 0;

  img {
    width: 100%;
  }
}

.about__description {
  @include flex-col(30px, center);
  max-width: 70%;
  padding: 0 3vw;
  text-align: center;
  font-size: 1.1rem;

  strong {
    color: $clr-primary;
  }
}

.about > img {
  width: 70px;
  margin: 50px 0;
}

.about > button {
  margin: 0 0 80px 0;
}
