@import '../../assets/_shared.module.scss';

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 6vw;
  margin: 30px 0;
}

.img {
  @include flex-row(null, center, center);

  img {
    width: 90%;
  }
}

.info {
  @include flex-col(32px, null, space-between);
  height: 100%;
  padding: 22px;

  > div {
    @include flex-col(16px);
  }
}

.collection {
  font-size: 1.3rem;
  font-weight: 600;
  color: $clr-primary;
}

.name {
  font-size: 2rem;
}

.price {
  font-size: 1.15rem;
  font-weight: 500;
}
